#add_order {display:none;}
.lite {
    color:#505050; 
    font-size:11px; 
    font-style:italic;
}
.itemcart {
    width:99%; 
    padding:5px; 
    margin:5px auto; 
    border-bottom:2px solid #f2f2f2;
}
.form_order {
    cursor:pointer;
    display:inline-block; 
    font-size:16px; 
    margin:5px;
}
.data_order {
    width:62%; 
    float:left; 
    padding:4px; 
    margin:4px;
}
.info_order {
    width:32%; 
    float:left; 
    padding:4px; 
    margin:4px;
}
.order {
    clear:both; 
    width:100%; 
    overflow:hidden; 
    border-bottom:2px solid #f1f1f1;
}
.data_order table { 
    background-color:#f1f1f1; 
    width:100%;
}
.data_order table td {
    border:1px solid white;
}
.load {
    display:none;
    visibility: hidden;
    float:left; 
    margin:5px;
}
thead th {
    background-color:#f2f2f2; 
    padding:5px;
}
tbody td {padding:3px;}
.number { 
    padding:2px; 
    background-color:#f2f2f2; 
    width:20px; 
    cursor:text;
}
.w-10 {
	width:30px;
}
