<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>Title</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
</head>
<body>

<div class="container mainbody">


    <div class="row">
        <div class="col-md-2 col-xs-8 col-xs-offset-2 col-md-offset-0 logo">
            <a>
                <img src="images/logo.png">

            </a>

        </div>

        <div class="col-md-2 col-xs-6 links">
            <a href="#" class="link"><img src="images/ru_map.png" alt=""><span>World links</span></a>
            <ul class="list-regions drop-down" style="display: none;">
                <li><a href="http://www.putzmeister.com" target="_blank" rel="nofollow">Putzmeister Holding</a></li>
                <li><a href="http://www.pmw.de" target="_blank" rel="nofollow">Putzmeister Concrete Pumps</a></li>
                <li><a href="http://www.moertelmaschinen.de" target="_blank" rel="nofollow">PUTZMEISTER
                    Mörtelmaschinen</a></li>
                <li><a href="http://www.putzmeister-solid-pumps.com" target="_blank" rel="nofollow">Putzmeister Solid
                    Pumps</a></li>
                <li><a href="http://www.putzmeister.de" target="_blank" rel="nofollow">Putzmeister Engineering</a></li>
                <li><a href="http://www.putzmeister.co.za" target="_blank" rel="nofollow">South Africa</a></li>
                <li><a href="http://www.putzmeister.com.sg" target="_blank" rel="nofollow">Singapore</a></li>
                <li><a href="http://www.pmw.co.in" target="_blank" rel="nofollow">India</a></li>
                <li><a href="http://www.putzmeister.co.kr" target="_blank" rel="nofollow">Korea</a></li>
                <li><a href="http://www.putzmeister.com.cn" target="_blank" rel="nofollow">China</a></li>
                <li><a href="http://www.putzmeister.com.tr" target="_blank" rel="nofollow">Turkey</a></li>
                <li><a href="http://www.putzmeister.fr" target="_blank" rel="nofollow">France</a></li>
                <li><a href="http://www.putzmeister.co.uk" target="_blank" rel="nofollow">United Kingdom</a></li>
                <li><a href="http://www.putzmeister.pt" target="_blank" rel="nofollow">Portugal</a></li>
                <li><a href="http://www.putzmeister.es" target="_blank" rel="nofollow">Spain</a></li>
                <li><a href="http://www.putzmeisterAmerica.com" target="_blank" rel="nofollow">USA</a></li>
                <li><a href="http://www.putzmeister.com.br" target="_blank" rel="nofollow">Brasil</a></li>
                <li><a href="http://www.putzmeisterunderground.com" target="_blank" rel="nofollow">Putzmeister Ibérica
                    S.A.</a></li>
            </ul>

            <a target="_blank" href="http://www.sanygroup.com/group/en-us/" rel="nofollow" class="mail no-icon"> <span>Link to:</span>
                <img src="images/sany.png" alt=""></a>

        </div>
        <div class="col-md-5 col-xs-6">
            <div class="tmenu">
                <ul class="menu-top">
                    <li class="w-order">
                        <a rel="nofollow" style="cursor:pointer">Консультация</a>

                        <div xmlns="http://www.w3.org/1999/xhtml" class="order-b drop-down" style="display: none;"><a
                                href="#" class="close"></a>
                            <form method="post"
                                  onsubmit="site.forms.data.save(this); return site.forms.data.check(this);"
                                  class="js-add-webforms ajax_true" enctype="multipart/form-data">
                                <div class="w-field xDD"><input type="text" value="" class="field xDDi"
                                                                name="login"></input></div>
                                <input type="hidden" name="system_email_to" value="921"></input>
                                <div class="w-field required" data-field-title="Имя"><label for="full_name_consult">Имя
                                    <span class="required">*</span></label><input type="text"
                                                                                  name="data[new][full_name_consult]"
                                                                                  id="full_name_consult" class="field"
                                                                                  placeholder="Представьтесь, пожалуйста"></input>
                                </div>
                                <div class="w-field" data-field-title="Фирма"><label
                                        for="firm_consult">Фирма</label><input type="text"
                                                                               name="data[new][firm_consult]"
                                                                               id="firm_consult" class="field"
                                                                               placeholder='ООО \"Путцмайстер-Рус\"'></input>
                                </div>
                                <div class="w-field required" data-field-title="Город"><label for="city_consult">Город
                                    <span class="required">*</span></label><input type="text"
                                                                                  name="data[new][city_consult]"
                                                                                  id="city_consult" class="field"
                                                                                  placeholder=""></input></div>
                                <div class="w-field required" data-field-title="Телефон"><label for="phone_consult">Телефон
                                    <span class="required">*</span></label><input type="text"
                                                                                  name="data[new][phone_consult]"
                                                                                  id="phone_consult"
                                                                                  class="field phone-mask"
                                                                                  placeholder=""></input></div>
                                <div class="w-field" data-field-title="E-mail"><label for="email_consult">E-mail</label><input
                                        type="text" name="data[new][email_consult]" id="email_consult" class="field"
                                        placeholder="info@putzmeister.ru"></input></div>
                                <div class="w-field" data-field-title="Сообщение"><label
                                        for="message_consult">Сообщение</label><textarea
                                        name="data[new][message_consult]" id="message_consult" class="field"
                                        placeholder="Ваш комментарий, если необходимо"></textarea></div>
                                <div class="w-field" data-field-title="Я хочу получать новости от Putzmeister"><label
                                        for="check">Я хочу получать новости от Putzmeister</label><input type="hidden"
                                                                                                         id="check"
                                                                                                         class="check"
                                                                                                         name="data[new][check]"
                                                                                                         value="true"></input><input
                                        onclick="var a = this.checked; $(this).parent('.w-field').find('.check').val(a);var b = $(this).parent('.w-field').find('.check').attr('value');if (b == 'false') $(this).parent('.w-field').parent('.js-add-webforms.').find('.w-field').eq(-2).fadeOut(250); if (b == 'true') $(this).parent('.w-field').parent('.js-add-webforms.').find('.w-field').eq(-2).fadeIn(250);"
                                        type="checkbox" value="1"></input></div>
                                <input type="hidden" name="data[new][test_captcha]" id="test_captcha" value=""></input>
                                <div class="w-field" data-field-title="Новости"><label for="ress">Новости</label><select
                                        name="data[new][ress][]" id="ress" class="select-s"
                                        placeholder="Выберите категорию..." multiple>
                                    <option value=""></option>
                                    <option value="20920">Бетононасосы</option>
                                    <option value="20923">Горно-Шахтное оборудование</option>
                                    <option value="20921">Растворонасосы</option>
                                    <option value="20922">Торкрет оборудование</option>
                                    <option value="20924">Шламовые насосы</option>
                                </select></div>
                                <input type="hidden" name="system_form_id" value="144"></input><input type="hidden"
                                                                                                      name="ref_onsuccess"
                                                                                                      value="/webforms/posted/144/"></input>
                                <div class="form_element">
                                    <div class="w-field required captcha-b" data-field-title="Решите пример"><label>Решите
                                        пример <span class="required">*</span></label>
                                        <div class="cpic"></div>
                                        <input type="text" name="captcha" class="field captcha"></input><br></br><a
                                                onclick="cap_res()" style="cursor:pointer">Получить новый код</a>
                                        <div class="cap_er"></div>
                                    </div>
                                </div>
                                <div class="form_element"><input type="submit" class="send"
                                                                 value="Отправить запрос"></input><img class="pgbar"
                                                                                                       style="display: none"
                                                                                                       src="/templates/putzmeister/images/progress-bar.gif"
                                                                                                       alt=""></img>
                                </div>
                                <input id="check" name="check" type="hidden" value="true"></input>
                                <div class="sogl">Нажимая на кнопку, вы даете согласие на обработку своих персональных
                                    данных
                                </div>
                            </form>
                        </div>
                    </li>
                    <li><a href="/contacts/">Контакты</a></li>
                    <li><a href="/service/spares/">Заказ запчастей</a></li>
                </ul>
            </div>

            <div class="address hidden-xs">
                <span class="openingHours">ПН-ПТ: с 8:00 до 18:00</span><span class="directions">г. Москва, ул. Уржумская, 4, стр. 31</span>
            </div>

        </div>
        <div class="col-md-3 col-xs-6 phones">

            <p class="lmar"><a href="callto:8 (800) 707-19-58"><span>8 (800)</span> 707-19-58</a></p>
            <p><a href="callto:8 (800) 707-19-58"><span>+7 (495)</span> 775-22-37</a></p>


        </div>

        <div class="visible-xs col-xs-6 ass">
            ПН-ПТ: с 8:00 до 18:00<br>г. Москва, ул. Уржумская, 4, стр.31

        </div>
    </div>


    <nav class="navbar navbar-default">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Главная</a></li>
                <li><a href="#">Оборудование</a></li>
                <li><a href="#">О компании</a></li>
                <li><a href="#">Сферы применения</a></li>
                <li><a href="#">Где купить</a></li>
                <li><a href="#">Новости</a></li>
                <li><a href="#">PM Finance</a></li>
                <li><a href="#">Аренда</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->

    </nav>


    <div class="slider-b other">
        <div class="item">
            <div class="slide-text">
                <ins>О компании</ins>
                <span class="desc">Putzmeister - Made in Germany. Since 1958</span>
            </div>

        </div>
    </div>


    <!--ТЕКСТ страницы-->
    <div class="row">

        <div class="col-xs-12">

            <ul class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                    <a itemprop="item" href="/"><span itemprop="name">Главная</span></a>
                    <meta itemprop="position" content="1">
                </li>
                <li class="active" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                    <span itemprop="item"><span itemprop="name">О компании</span></span>
                    <meta itemprop="position" content="2">
                </li>
            </ul>

        </div>

        <div class="col-md-3 col-xs-12">
            <ul id="open_menu" class="menu-catalog">
                <li><a href="/about/history/">История Компании</a></li>
                <li><a href="/about/putzmeister/">Putzmeister в России</a></li>
                <li><a href="/about/tehnologii_betononasosov_putzmeister/">Технологии бетононасосов Putzmeister</a></li>
            </ul>
            <p><a href="/service/documentation/" class="link-doc">Документация</a></p>
            <p><a href="/scopes/" class="link-doc scope">Сферы применения</a></p>

        </div>
        <div class="col-md-9 col-xs-12">
            <div class="text-block"><h1>О компании</h1></div>

            <div class="text-block">Putzmeister - современный производитель строительной техники и оборудования
                специального назначения, объединивший свыше 20 подразделений по всему миру. Putzmeister имеет свои
                представительства с развитой дилерской сетью более чем в 154 странах.&nbsp;Штат компании насчитывает
                более чем 3 000 специалистов.
            </div>
            <div class="text-block">
                <div style="text-align: justify;">В 2014 году объем продаж компаний &laquo;Путцмайстер&raquo; составил
                    691 200 000 миллионов евро, что позволило достичь хорошего прироста в 10%. Это удалось, в основном,
                    за счет увеличения оборота в Северной Америке. Объем продаж в Германии снова достиг отметки прошлого
                    года и составил 54 600 000 евро.
                </div>
                <div style="text-align: justify;"><br/>В Германии средства были вложены в новый испытательный центр в
                    Айхтале. Также были произведены модернизация и расширение программы обучения персонала. В Мексике
                    &laquo;Путцмайстер&raquo; инвестировал деньги в установку для производства автобетоносмесителей для
                    реализации на американском рынке.
                </div>
                <div style="text-align: justify;"><br/>В компаниях &laquo;Путцмайстер&raquo; большое значение уделяется
                    охране здоровья. &laquo;Путцмайстер&raquo; запустил корпоративную политику в области
                    здравоохранения, которая считается одной из лучших. Компании &laquo;Путцмайстер&raquo; была
                    присвоена премия за активность в области корпоративного здравоохранения. Премия была объявлена
                    отраслевым журналом совместно с немецкой экспертной организацией T&Uuml;V S&Uuml;D и компанией&nbsp;
                    по обеспечению устойчивого развития бизнеса&nbsp; EuPD Research Sustainable Management.
                </div>
                <div style="text-align: justify;"><br/>За 2015 год &laquo;Путцмайстер&raquo; настроен достичь еще
                    больших успехов в своей деятельности. Несмотря на избыточную производственную мощность по всему
                    миру, а особенно в строительной области, &laquo;Путцмайстер&raquo; продолжает укреплять свои позиции
                    на рынке. Стратегическое инвестирование будет прокладывать путь к успеху на протяжении многих лет.
                </div>
                <div style="text-align: justify;"></div>
                <div style="text-align: justify;">Putzmeister предлагает такие виды строительной техники, как бетонная
                    техника: стационарные <a href="http://www.putzmeister.ru/catalog/betononasosy/">бетононасосы</a>,
                    насосы с бетономешалкой, бетоноводы и распределительные стрелы. Растворную технику:
                    растворосмесительные насосы, штукатурные станции, пневмоконвееры. Торкрет установки, шахтное и
                    тоннельное оборудование.&nbsp;Шламовые насосы и бункеры, а также Ленточные Телескопические
                    транспортеры.<br/> <br/> Качество строительной техники Putzmeister проверено и подтверждено не
                    только временем, но и стандартом ISO 9001/2008. На всю технику распространяется фирменная гарантия
                    которая обеспечивается Сервисной службой Putzmeister. Высококвалифицированные специалисты Сервисной
                    службы обеспечивают ввод в эксплуатацию поставленной техники и обучение специалистов заказчика на
                    местах.
                </div>
                <div style="text-align: justify;">&nbsp;</div>
                <div style="text-align: justify;">
                    <h2>Видение<br/><img style="float: right;" src="/files/vision_small.jpg" alt=""/></h2>
                    <p><span style="text-decoration: underline;">РАЗРАБОТАНО ДЛЯ ДОСТИЖЕНИЯ УСПЕХА</span><br/>Наши
                        машины и заводы обеспечивают высокую производительность,качество и надежность.</p>
                    <p><span style="text-decoration: underline;">НАДЕЖНЫЕ ПАРТНЕРСКИЕ ОТНОШЕНИЯ<br/></span>Краеугольным
                        камнем любого сотрудничества является доверие.&nbsp;Мы стремимся заботиться о наших клиентах и
                        поэтому&nbsp;максимально сосредотачиваемся на их нуждах и потребностях.<br/>Мы относимся к своим
                        партнерам с крайним уважением и&nbsp;осуществляем свою деятельность, основываясь на принципах&nbsp;справедливости
                        и доверия.</p>
                    <p><span style="text-decoration: underline;">ОПЫТ ПРОКЛАДЫВАЕТ ПУТЬ<br/></span>Наша команда
                        высококвалифицированных и&nbsp;целеустремленных сотрудников постоянно стремится улучшить&nbsp;наши
                        продукты и услуги. Определяя направление развития&nbsp;нашей отрасли, мы продолжаем вкладывать
                        значительные&nbsp;средства в исследования и разработки.&nbsp;</p>
                </div>
                <p>&nbsp;</p>
                <h2>Основные принципы&nbsp;</h2>
                <div style="text-align: justify;">Высокое качество техники и услуг, постоянное развитие технологий,
                    совершенствование и ориентированность на нужды и потребности заказчиков.
                </div>
                <p><br/> <img style="float: left;" src="/images/img-8.jpg" alt=""/></p>
                <div style="text-align: justify;">Центр группы компаний &laquo;ПУТЦМАЙСТЕР&raquo; - завод в г. Айхталь
                    (Германия), оснащенный самыми современными производственными и сборочными линиями. Также фирма имеет
                    заводы в США, Японии, Италии, Испании, Китае, Бразилии, ЮАР, Корее, Турции и Индии. Техника
                    собирается из деталей и комплектующих лучших мировых производителей. Высококвалифицированный
                    персонал и постоянный контроль обеспечивают высокий уровень качества продукции одинаково на всех
                    заводах компании.
                </div>
                <p>&nbsp;</p>
                <div style="text-align: justify;">Компании Путцмайстер принадлежат патенты на многие инновационные
                    разработки. Из года в год, вот уже 60 лет, компания Путцмайстер устанавливает &nbsp;мировые рекорды
                    в сферах строительства, тем самым задавая темпы развития отрасли. Чем без преувеличения заслужила
                    репутацию надежного партнера в проектах любой сложности. Многие разработки компании осуществляются
                    совместно с научно-исследовательскими институтами и университетами Германии. Подробнее об истории
                    развития компании вы можете узнать в разделе&nbsp; <a
                            href="http://www.putzmeister.ru/about/history/">История компании</a></div>
                <p>&nbsp;</p>
                <h2>Залог успеха&nbsp;</h2>
                <div style="text-align: justify;">Заказчикам предлагается: широкий спектр техники, компетентный
                    консалтинг и инжиниринг комплексных решений, &nbsp;разработка систем управления, а также высокий
                    уровень сервиса, гарантийное и постгарантийное обслуживание, доступность запасных частей и расходных
                    материалов со склада в Москве и регионах России.
                </div>
                <p>&nbsp;</p>
                <div class="last-about">
                    <h4>Мы будем рады видеть Вас в числе наших постоянных партнеров!</h4>
                </div>
            </div>
        </div>

    </div>
    <!--ТЕКСТ страницы-->
    <!--нижнее меню-->


    <div class="row bot-menu">


        <div class="col-xs-12 col-md-5ths">

            <div class="item-b">
                <div class="caption">Оборудование:</div>
                <ul>
                    <li>―
                        <a rel="nofollow" href="/catalog/betononasosy/">Бетононасосы</a>
                    </li>
                    <li>―
                        <a rel="nofollow" href="/catalog/avtobetononasosy/">Автобетононасосы</a>
                    </li>
                    <li>―
                        <a rel="nofollow" href="/catalog/raspredelitelnye-strely-putzmeister/">Распределительные
                            стрелы</a>
                    </li>
                    <li>―
                        <a rel="nofollow" href="/catalog/rastvoronasosy/">Растворная техника</a>
                    </li>
                    <li>―
                        <a rel="nofollow" href="/catalog/tonelnoe_oborudovanie/">Торкрет оборудование</a>
                    </li>
                    <li>―
                        <a rel="nofollow" href="/catalog/torkretirovanie-ogneupornikh-materialov/">Торкретирование
                            огнеупорных материалов</a>
                    </li>
                    <li>―
                        <a rel="nofollow" href="/catalog/shakhtnoe-i-tonnelnoe-oborudovanie/">Шахтное и тоннельное
                            оборудование</a>
                    </li>
                    <li>―
                        <a rel="nofollow"
                           href="/catalog/betonosmesitelnye_zavody_i_uzly_bsu_betonnorastvornye_uzly_bru/">Бетоносмесительные
                            заводы и узлы (БСУ), бетонно-растворные узлы (БРУ)</a>
                    </li>
                    <li>―
                        <a rel="nofollow" href="/catalog/shlamoviye-nasosy/">Шламовые пульповые насосы и бункеры</a>
                    </li>
                    <li>―
                        <a rel="nofollow" href="/catalog/avtobetonosmesiteli/">Автобетоносмесители</a>
                    </li>
                    <li>―
                        <a rel="nofollow" href="/catalog/teleskopicheskie-lentochnye-transportery/">Телескопические
                            ленточные транспортеры</a>
                    </li>
                    <li>―
                        <a rel="nofollow" href="/catalog/brinkmann_trans_mix/">BRINKMANN Trans Mix</a>
                    </li>
                    <li>―
                        <a rel="nofollow" href="/catalog/puskovaja-smes/">Пусковая смесь </a>
                    </li>
                    <li>―
                        <a rel="nofollow" href="/service/spares/">Заказ запчастей</a>
                    </li>
                </ul>
            </div>


        </div>
        <div class="col-xs-12 col-md-5ths">

            <div class="item-b">
                <div class="caption">О компании:</div>
                <ul>
                    <li>―
                        <a rel="nofollow" href="/about/history/">История Компании</a>
                    </li>
                    <li>―
                        <a rel="nofollow" href="/about/putzmeister/">Putzmeister в России</a>
                    </li>
                    <li>―
                        <a rel="nofollow" href="/contacts/">Контакты</a>
                    </li>
                </ul>
            </div>


        </div>
        <div class="col-xs-12 col-md-5ths">


            <div class="item-b">
                <div class="caption">Сервис:</div>
                <ul>
                    <li>―
                        <a rel="nofollow" href="/service/spares2/">Заказ запчастей</a>
                    </li>
                    <li>―
                        <a rel="nofollow" href="/service/documentation/">Документация</a>
                    </li>
                    <li>―
                        <a rel="nofollow" href="/service/order/">Запрос на технику</a>
                    </li>
                </ul>
            </div>

        </div>
        <div class="col-xs-12 col-md-5ths">

            <div class="item-b">
                <div class="caption"><a rel="nofollow" href="/scopes/">Сферы применения</a></div>
                <div class="caption"><a rel="nofollow" href="/info/">Полезная информация</a></div>
                <div class="caption"><a rel="nofollow" href="/regions/">Регионы</a></div>
                <div class="caption"><a rel="nofollow" href="/news/">Новости</a></div>
                <div class="caption"><a rel="nofollow" href="/pm-finance/">PM Finance</a></div>
            </div>

        </div>
        <div class="col-xs-12 col-md-5ths">

            <div class="journals-b">
                <div class="caption"><a href="/putzmeister-post/">Журнал Putzmeister Post:</a></div>
                <div class="img-b">
                    <a href="/putzmeister-post/"><img src="images/img-2.jpg"></a>
                    <div class="bottom-angle">
                        <a href="http://www.putzmeister.com/deu/putzmeister-post.htm" rel="nofollow"><img
                                src="images/de.png"></a><a href="http://www.putzmeister.com/enu/putzmeister-post.htm"
                                                           rel="nofollow"><img src="images/en.png"></a>
                    </div>
                </div>
            </div>


        </div>
    </div>


    <!--Нижние контакты-->

    <div class="row cont-btm">

        <div class="col-md-6 col-xs-12">


            <div class="info-b map">
                <p><span>ООО "Путцмайстер-Рус"</span></p>
                <p>129343, Россия, Москва, ул. Уржумская, 4, стр. 31</p>
                <a href="/contacts/" class="directions">Схема проезда</a>
            </div>
        </div>


        <div class="col-md-3 col-xs-12">
            <div class="info-b tels"><p><span>Телефон:</span><br/>   8 (800) 707-19-58<br/> +7 (495) 775-22-37</p>
                <p><span>Факс:</span><br/> +7 (495) 775-22-34</p>
                <p><a class="mail" href="mailto:info@putzmeister.ru">info@putzmeister.ru</a></p></div>
        </div>


        <div class="col-md-3 col-xs-12">
            <div class="info-b last"><p><span>График работы:</span></p>
                <p>Офис, по будням с 8:00 до 18:00 Склад и Сервис с 8:00 до 17:00</p></div>
        </div>


    </div>

    <!--Футер-->

    <div class="footer">


        <div class="row">


            <div class="col-md-7 col-xs-12">

                <div class="text-coopy">
                    <p>Данный cайт и размещенная на нём информация являются собственностью компании.</p>
                    <p>При использовании материалов сайта ссылка обязательна.</p>
                    <br>
                    <p>Ваши вопросы, комментарии и замечания Вы можете направить по адресу <a
                            href="mailto:info@putzmeister.ru?subject=%D0%A1%D0%BE%D0%BE%D0%B1%D1%89%D0%B5%D0%BD%D0%B8%D0%B5%20%D1%81%20%D1%81%D0%B0%D0%B9%D1%82%D0%B0">info@putzmeister.ru</a>
                    </p>
                    <br>
                    <p><a rel="nofollow" href="http://www.putzmeister.ru/privacy-policy/">Соглашение об использовании
                        сайта</a></p>
                    <br>
                    <p>Мы в соцсетях:
                        <a href="https://www.facebook.com/putzmeisterrus/" target="_blank">
                            <img src="images/fb.png" alt="Putzmeister в Facebook" align="absmiddle" hspace="5"
                                 style="border-radius:5px"></a>

                        <a href="https://vk.com/putzmeisterrus" target="_blank">
                            <img src="images/vk.png" alt="Putzmeister в ВКонтакте" align="absmiddle" hspace="5"></a>


                        <a href="https://www.youtube.com/channel/UCp61k8xK9avlchWLl2dY2qg" target="_blank">


                            <img src="images/yt.png" alt="Putzmeister на YouTube" align="absmiddle" hspace="5"
                                 style="border-radius:5px"></a></p>
                </div>

            </div>


            <div class="col-xs-12 col-md-5">


                <div class="copyright">
                    © 2003-2018 Putzmeister Concrete Pumps GmbH
                    <span>бетононасосы, автобетоносмесители, штукатурные станции, бетонные заводы и другая
                                    бетонная техника Путцмайстер в Москве
                                </span>
                </div>
                <ul class="list-border">
                    <li><a href="/sitemap/" style="color: #676767;">Карта сайта</a></li>
                    <li>
                        <a href="http://realweb.ru/" target="_blank">Оптимизация и продвижение сайта</a>
                        – RealWeb
                    </li>
                </ul>

            </div>

        </div>


    </div>


</div>


<!-- Наверх-->

<p id="back-top" style="display: block;"><a href="#top"><span></span></a></p>

<!-- Наверх-->

<script
        src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script src="js/script.js" type="text/javascript"></script>
</body>
</html>