<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>Title</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
</head>
<body>
<div class="back-f">
    <span class="left_text">Легкость - ваша выгода!</span>
</div>
<div class="right_text">
    <div class="pdl"></div>
    <span>Автобетононасос<br>
Putzmeister BSF36-4.16H</span><a href="/catalog/avtobetononasosy/m-36-4-v/" class="btn_r">Подробнее &gt;</a>
</div>
<div class="modal_back">
    <div class="modal_o row">
        <div class="q">
            <div id="div5">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
                <div class="bar4"></div>
                <div class="bar5"></div>
                <div class="bar6"></div>
                <div class="bar7"></div>
                <div class="bar8"></div>
            </div>
            <img src="images/ex2.png" alt=" exit">
        </div>
        <div class="modal-Left">
            <h3>Автобетононасос Putzmeister BSF36-4.16H</h3>
            <h2>Легкость - ваша выгода!</h2>
            <p>Ищете легкий автобетононасос для беспроблемного<br> передвижения по дорогам общего пользования? Вы нашли
                его!<br> Представляем <span>Putzmeister BSF36-4.16H</span></p>
            <ul>
                <li>
                    <img src="images/v.png" alt="Общий вес">
                    <p>Общий вес<br>
                        меньше 23,5 тон.</p>
                </li>
                <li>
                    <img src="images/p.png" alt="Нагрузка на ось - меньше 8 тонн">
                    <p>Нагрузка на ось - меньше 8 тонн,<br>
                        с водителем и топливом.</p>
                </li>
            </ul>
            <a href="/catalog/avtobetononasosy/m-36-4-v/" class="btn_r">Подробнее &gt;</a><span><img src="images/q.png"
                                                                                                     alt="Предложение ограничено"><p>Предложение ограничено наличием насосов на складе. не является<br> публичной офертой. на фото могут отображаться опции не входящие в<br> стандартную комплектацию.</p></span>
        </div>
        <div class="modal-right"><img src="images/back.png" alt=" BSF36-4.16H"></div>
    </div>
</div>
<div class="container mainbody">
    <div class="row">
        <div class="col-md-2 col-xs-8 col-xs-offset-2 col-md-offset-0 logo">
            <a>
                <img src="images/logo.png">

            </a>

        </div>

        <div class="col-md-2 col-xs-6 links">
            <a href="#" class="link"><img src="images/ru_map.png" alt=""><span>World links</span></a>
            <ul class="list-regions drop-down" style="display: none;">
                <li><a href="http://www.putzmeister.com" target="_blank" rel="nofollow">Putzmeister Holding</a></li>
                <li><a href="http://www.pmw.de" target="_blank" rel="nofollow">Putzmeister Concrete Pumps</a></li>
                <li><a href="http://www.moertelmaschinen.de" target="_blank" rel="nofollow">PUTZMEISTER
                    Mörtelmaschinen</a></li>
                <li><a href="http://www.putzmeister-solid-pumps.com" target="_blank" rel="nofollow">Putzmeister Solid
                    Pumps</a></li>
                <li><a href="http://www.putzmeister.de" target="_blank" rel="nofollow">Putzmeister Engineering</a></li>
                <li><a href="http://www.putzmeister.co.za" target="_blank" rel="nofollow">South Africa</a></li>
                <li><a href="http://www.putzmeister.com.sg" target="_blank" rel="nofollow">Singapore</a></li>
                <li><a href="http://www.pmw.co.in" target="_blank" rel="nofollow">India</a></li>
                <li><a href="http://www.putzmeister.co.kr" target="_blank" rel="nofollow">Korea</a></li>
                <li><a href="http://www.putzmeister.com.cn" target="_blank" rel="nofollow">China</a></li>
                <li><a href="http://www.putzmeister.com.tr" target="_blank" rel="nofollow">Turkey</a></li>
                <li><a href="http://www.putzmeister.fr" target="_blank" rel="nofollow">France</a></li>
                <li><a href="http://www.putzmeister.co.uk" target="_blank" rel="nofollow">United Kingdom</a></li>
                <li><a href="http://www.putzmeister.pt" target="_blank" rel="nofollow">Portugal</a></li>
                <li><a href="http://www.putzmeister.es" target="_blank" rel="nofollow">Spain</a></li>
                <li><a href="http://www.putzmeisterAmerica.com" target="_blank" rel="nofollow">USA</a></li>
                <li><a href="http://www.putzmeister.com.br" target="_blank" rel="nofollow">Brasil</a></li>
                <li><a href="http://www.putzmeisterunderground.com" target="_blank" rel="nofollow">Putzmeister Ibérica
                    S.A.</a></li>
            </ul>

            <a target="_blank" href="http://www.sanygroup.com/group/en-us/" rel="nofollow" class="mail no-icon"> <span>Link to:</span>
                <img src="images/sany.png" alt=""></a>

        </div>
        <div class="col-md-5 col-xs-6">
            <div class="tmenu">
                <ul class="menu-top">
                    <li class="w-order">
                        <a rel="nofollow" style="cursor:pointer">Консультация</a>

                        <div xmlns="http://www.w3.org/1999/xhtml" class="order-b drop-down" style="display: none;"><a
                                href="#" class="close"></a>
                            <form method="post"
                                  onsubmit="site.forms.data.save(this); return site.forms.data.check(this);"
                                  class="js-add-webforms ajax_true" enctype="multipart/form-data">
                                <div class="w-field xDD"><input type="text" value="" class="field xDDi"
                                                                name="login"></input></div>
                                <input type="hidden" name="system_email_to" value="921"></input>
                                <div class="w-field required" data-field-title="Имя"><label for="full_name_consult">Имя
                                    <span class="required">*</span></label><input type="text"
                                                                                  name="data[new][full_name_consult]"
                                                                                  id="full_name_consult" class="field"
                                                                                  placeholder="Представьтесь, пожалуйста"></input>
                                </div>
                                <div class="w-field" data-field-title="Фирма"><label
                                        for="firm_consult">Фирма</label><input type="text"
                                                                               name="data[new][firm_consult]"
                                                                               id="firm_consult" class="field"
                                                                               placeholder='ООО \"Путцмайстер-Рус\"'></input>
                                </div>
                                <div class="w-field required" data-field-title="Город"><label for="city_consult">Город
                                    <span class="required">*</span></label><input type="text"
                                                                                  name="data[new][city_consult]"
                                                                                  id="city_consult" class="field"
                                                                                  placeholder=""></input></div>
                                <div class="w-field required" data-field-title="Телефон"><label for="phone_consult">Телефон
                                    <span class="required">*</span></label><input type="text"
                                                                                  name="data[new][phone_consult]"
                                                                                  id="phone_consult"
                                                                                  class="field phone-mask"
                                                                                  placeholder=""></input></div>
                                <div class="w-field" data-field-title="E-mail"><label for="email_consult">E-mail</label><input
                                        type="text" name="data[new][email_consult]" id="email_consult" class="field"
                                        placeholder="info@putzmeister.ru"></input></div>
                                <div class="w-field" data-field-title="Сообщение"><label
                                        for="message_consult">Сообщение</label><textarea
                                        name="data[new][message_consult]" id="message_consult" class="field"
                                        placeholder="Ваш комментарий, если необходимо"></textarea></div>
                                <div class="w-field" data-field-title="Я хочу получать новости от Putzmeister"><label
                                        for="check">Я хочу получать новости от Putzmeister</label><input type="hidden"
                                                                                                         id="check"
                                                                                                         class="check"
                                                                                                         name="data[new][check]"
                                                                                                         value="true"></input><input
                                        onclick="var a = this.checked; $(this).parent('.w-field').find('.check').val(a);var b = $(this).parent('.w-field').find('.check').attr('value');if (b == 'false') $(this).parent('.w-field').parent('.js-add-webforms.').find('.w-field').eq(-2).fadeOut(250); if (b == 'true') $(this).parent('.w-field').parent('.js-add-webforms.').find('.w-field').eq(-2).fadeIn(250);"
                                        type="checkbox" value="1"></input></div>
                                <input type="hidden" name="data[new][test_captcha]" id="test_captcha" value=""></input>
                                <div class="w-field" data-field-title="Новости"><label for="ress">Новости</label><select
                                        name="data[new][ress][]" id="ress" class="select-s"
                                        placeholder="Выберите категорию..." multiple>
                                    <option value=""></option>
                                    <option value="20920">Бетононасосы</option>
                                    <option value="20923">Горно-Шахтное оборудование</option>
                                    <option value="20921">Растворонасосы</option>
                                    <option value="20922">Торкрет оборудование</option>
                                    <option value="20924">Шламовые насосы</option>
                                </select></div>
                                <input type="hidden" name="system_form_id" value="144"></input><input type="hidden"
                                                                                                      name="ref_onsuccess"
                                                                                                      value="/webforms/posted/144/"></input>
                                <div class="form_element">
                                    <div class="w-field required captcha-b" data-field-title="Решите пример"><label>Решите
                                        пример <span class="required">*</span></label>
                                        <div class="cpic"></div>
                                        <input type="text" name="captcha" class="field captcha"></input><br></br><a
                                                onclick="cap_res()" style="cursor:pointer">Получить новый код</a>
                                        <div class="cap_er"></div>
                                    </div>
                                </div>
                                <div class="form_element"><input type="submit" class="send"
                                                                 value="Отправить запрос"></input><img class="pgbar"
                                                                                                       style="display: none"
                                                                                                       src="/templates/putzmeister/images/progress-bar.gif"
                                                                                                       alt=""></img>
                                </div>
                                <input id="check" name="check" type="hidden" value="true"></input>
                                <div class="sogl">Нажимая на кнопку, вы даете согласие на обработку своих персональных
                                    данных
                                </div>
                            </form>
                        </div>
                    </li>
                    <li><a href="/contacts/">Контакты</a></li>
                    <li><a href="/service/spares/">Заказ запчастей</a></li>
                </ul>
            </div>

            <div class="address hidden-xs">
                <span class="openingHours">ПН-ПТ: с 8:00 до 18:00</span><span class="directions">г. Москва, ул. Уржумская, 4, стр. 31</span>
            </div>

        </div>
        <div class="col-md-3 col-xs-6 phones">

            <p class="lmar"><a href="callto:8 (800) 707-19-58"><span>8 (800)</span> 707-19-58</a></p>
            <p><a href="callto:8 (800) 707-19-58"><span>+7 (495)</span> 775-22-37</a></p>


        </div>

        <div class="visible-xs col-xs-6 ass">
            ПН-ПТ: с 8:00 до 18:00<br>г. Москва, ул. Уржумская, 4, стр.31

        </div>
    </div>


    <nav class="navbar navbar-default">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Главная</a></li>
                <li><a href="#">Оборудование</a></li>
                <li><a href="#">О компании</a></li>
                <li><a href="#">Сферы применения</a></li>
                <li><a href="#">Где купить</a></li>
                <li><a href="#">Новости</a></li>
                <li><a href="#">PM Finance</a></li>
                <li><a href="#">Аренда</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->

    </nav>

    <!-- Конец меню-->


    <h1>Бетонная техника и бетононасосы Putzmeister</h1>

    <div class="row products">


        <div class="col-xs-12 col-md-5ths">
            <a href="">
    <span class="imgp">
<img src="http://www.putzmeister.ru/images/cms/thumbs/3ef4676849371dcf2e5a6636440f8f726bf49c45/ct_pcp_bsa1407d_frei_411x215_161_208.jpg">
</span>
                <span class="textp">
        Бетононасосы</span>
            </a>
        </div>


        <div class="col-xs-12 col-md-5ths">
            <a href="">
    <span class="imgp">
<img src="http://www.putzmeister.ru/images/cms/thumbs/3ef4676849371dcf2e5a6636440f8f726bf49c45/ct_pcp_bsa1407d_frei_411x215_161_208.jpg">
</span>
                <span class="textp">
        Бетононасосы</span>
            </a>
        </div>
        <div class="col-xs-12 col-md-5ths">
            <a href="">
    <span class="imgp">
<img src="http://www.putzmeister.ru/images/cms/thumbs/3ef4676849371dcf2e5a6636440f8f726bf49c45/ct_pcp_bsa1407d_frei_411x215_161_208.jpg">
</span>
                <span class="textp">
        Автобетононасосы</span>
            </a>
        </div>
        <div class="col-xs-12 col-md-5ths">
            <a href="">
    <span class="imgp">
<img src="http://www.putzmeister.ru/images/cms/thumbs/3ef4676849371dcf2e5a6636440f8f726bf49c45/ct_pcp_bsa1407d_frei_411x215_161_208.jpg">
</span>
                <span class="textp">
        Распределительные стрелы</span>
            </a>
        </div>
        <div class="col-xs-12 col-md-5ths">
            <a href="">
    <span class="imgp">
<img src="http://www.putzmeister.ru/images/cms/thumbs/3ef4676849371dcf2e5a6636440f8f726bf49c45/ct_pcp_bsa1407d_frei_411x215_161_208.jpg">
</span>
                <span class="textp">
        Бетононасосы</span>
            </a>
        </div>
        <div class="col-xs-12 col-md-5ths">
            <a href="">
    <span class="imgp">
<img src="http://www.putzmeister.ru/images/cms/thumbs/3ef4676849371dcf2e5a6636440f8f726bf49c45/ct_pcp_bsa1407d_frei_411x215_161_208.jpg">
</span>
                <span class="textp">
        Бетононасосы</span>
            </a>
        </div>
        <div class="col-xs-12 col-md-5ths">
            <a href="">
    <span class="imgp">
<img src="http://www.putzmeister.ru/images/cms/thumbs/3ef4676849371dcf2e5a6636440f8f726bf49c45/ct_pcp_bsa1407d_frei_411x215_161_208.jpg">
</span>
                <span class="textp">
        Бетононасосы</span>
            </a>
        </div>
        <div class="col-xs-12 col-md-5ths">
            <a href="">
    <span class="imgp">
<img src="http://www.putzmeister.ru/images/cms/thumbs/3ef4676849371dcf2e5a6636440f8f726bf49c45/ct_pcp_bsa1407d_frei_411x215_161_208.jpg">
</span>
                <span class="textp">
        Бетононасосы</span>
            </a>
        </div>
        <div class="col-xs-12 col-md-5ths">
            <a href="">
    <span class="imgp">
<img src="http://www.putzmeister.ru/images/cms/thumbs/3ef4676849371dcf2e5a6636440f8f726bf49c45/ct_pcp_bsa1407d_frei_411x215_161_208.jpg">
</span>
                <span class="textp">
        Бетононасосы</span>
            </a>
        </div>
        <div class="col-xs-12 col-md-5ths">
            <a href="">
    <span class="imgp">
<img src="http://www.putzmeister.ru/images/cms/thumbs/3ef4676849371dcf2e5a6636440f8f726bf49c45/ct_pcp_bsa1407d_frei_411x215_161_208.jpg">
</span>
                <span class="textp">
        Бетононасосы</span>
            </a>
        </div>


    </div>

    <div class="arrow"></div>

    <div class="text-block">
        <p style="text-align: justify;">Компания Putzmeister осуществляет передовые разработки, производство, реализацию
            и
            техническое обслуживание широкого спектра современной <a href="/">бетонной техники</a> с1958 года. Широкая
            география охватывает Германию, Россию, Великобританию, Бразилию, США, Японию, Италию, Испанию, Францию и
            десятки
            других стран. Корпорация включает более 20 дочерних предприятий по всему миру, в штате которых свыше 3000
            инженеров, конструкторов, технологов и других квалифицированных специалистов. Сегодня немецкая компания
            Putzmeister является одним из лидирующих производителей бетононасосов, объединяет 11 крупных заводов и
            дилерскую
            сеть с представительствами в более чем 154 странах. Линейка оборудования включает широкий модельный ряд
            бетонной, растворной, шахтной и туннельной техники, торкрет оборудования, шламовых насосов, транспортеров и
            бункеров. Региональное подразделение Putzmeister в России существует с 1993 года.</p>
        <h2>Предложение</h2>
        <p style="text-align: justify;"><strong>Строительная техника.</strong> Компания осуществляет продажу широкого
            спектра современной техники и специализированного оборудования. В каталоге представлен полный модельный ряд
            <a
                    href="/catalog/betononasosy/">бетононасосов</a>, бетоноводы и распределительные стрелы, штукатурные
            станции, торкрет установки, телескопические транспортеры, шламовые насосы, шахтное и тоннельное
            оборудование, а
            также автобетоносмесители и мобильные бетонные заводы.</p>
        <p style="text-align: justify;"><strong>Запчасти и аксессуары.</strong> В наличии оригинальные комплектующие,
            дополнительное оборудование и аксессуары для бетононасосов и другой растворной, тоннельной и бетонной
            техники.
            Вниманию заказчиков современные системы дистанционного управления, надежные бетоноводы, шланги, крепежи,
            переходники, приспособления для очистки, шиберы, <a href="/catalog/puskovaja-smes/">пусковые смеси для
                бетононасосов</a>, гидравлическое оборудование и другая продукция от завода производителя.</p>
        <h2>Преимущества сотрудничества</h2>
        <ul>
            <li><strong>Широкий выбор.</strong> В ассортименте представлены новые бетононасосы и другая строительная
                техника, запасные части и аксессуары для реализации спектра строительных работ, вне зависимости от
                объема и
                степени сложности проекта.
            </li>
            <li><strong>Гарантия качества.</strong> Все мировые заводы&ndash;производители бетононасосов,
                специализированной
                техники и дополнительного оборудования Putzmeister работают по принятым в компании нормам и правилам.
                Продукция производится в соответствии со стандартом качества ISO 9001/2008 с применением самых передовых
                технологий, должное значение уделяется защите окружающей среды. На все бетононасосы, растворонасосы,
                шахтовое, тоннельное оборудование и штукатурные станции, а также запчасти к ним предоставляется
                фирменная
                гарантия Putzmeister.
            </li>
            <li><strong>Сервисная поддержка.</strong> Специалисты сервисной службы Putzmeister обеспечат ввод в
                эксплуатацию
                бетононасосов и другого оборудования, а также обучение представителей заказчика правилам эксплуатации.
                На
                протяжении всего срока службы насосов предоставят высококвалифицированную техническую и информационную
                поддержку.
            </li>
        </ul>
        <p style="text-align: justify;">Для получения более подробной информации о бетононасосах, торкрет установках и
            другом бетонном, растворном и тоннельном оборудовании, запчастях и аксессуарах, а также оформления заказа
            следует обратиться к специалистам компании Putzmeister по телефону 8 800 707 1958 или 8&nbsp;(495) 775-22-37
            в
            будние дни с 08:00 до 18:00 (по московскому времени).</p>
        <h2>Putzmeister в России</h2>
        <ul class="icon-list">
            <li><img src="images/icon-graph.png" alt=""/>
                <p>ООО "Путцмайстер-Рус" - дочерняя компания немецкой фирмы Putzmeister Concrete Pumps GmbH.</p>
            </li>
            <li><img src="images/icon-work.png" alt=""/>
                <p>Сервисная служба и система снабжения запасными частями со склада в Москве.</p>
            </li>
            <li><img src="images/icon-user.png" alt=""/>
                <p>Дилерская сеть на территории России, дилеры в Казахстане, Белоруссии, Грузии и Украине.</p>
            </li>
        </ul>


    </div>

    <!--Полезная информация -->
    <div class="news_block">
        <div class="row">
            <div class="col-xs-12">


                <h2>
                    Полезная информация
                </h2>
            </div>


        </div>

        <div class="row">

            <div class="col-md-4 col-xs-12 news_item">
                <a href="">
                    <img src="http://www.putzmeister.ru/images/cms/thumbs/ea598d59094d9073629608b34e7ff8780a910fd7/batchkret_2_792_auto.png">

                    <span class="news_title">Мини-бетонные заводы</span>
                </a>
            </div>


        </div>


    </div>

    <!--Полезная информация -->


    <!--Слайдер-->

    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">


        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="http://www.putzmeister.ru/images/cms/thumbs/261a613ac3582ccc42ef0ca584ccbbf3607fa32f/sl_1360_auto.jpg"
                     alt="...">
                <div class="carousel-caption">
                    <div class="h1 blk">Бетонные технологии Putzmeister</div>
                    <p class="desc blk">Простые решения для сложных задач</p>
                    <div class="h2 blk"><a href="" class="slide-link blk">Автобетононасос M36-4</a></div>
                </div>
            </div>
            <div class="item">
                <img src="http://www.putzmeister.ru/images/cms/thumbs/9799c8258567b66fc1873aa4697de592b97d61ed/7310-slide-1-1_1360_auto_1360_auto.jpg"
                     alt="...">
                <div class="carousel-caption">
                    <div class="h1">Бетонные технологии Putzmeister</div>
                    <p class="desc">Простые решения для сложных задач</p>
                    <div class="h2"><a href="" class="slide-link">Автобетононасос M36-4</a></div>
                </div>
            </div>
            <div class="item ">
                <img src="http://www.putzmeister.ru/images/cms/thumbs/261a613ac3582ccc42ef0ca584ccbbf3607fa32f/sl_1360_auto.jpg"
                     alt="...">
                <div class="carousel-caption">
                    <div class="h1 blk">Бетонные технологии Putzmeister</div>
                    <p class="desc blk">Простые решения для сложных задач</p>
                    <div class="h2 "><a href="" class="slide-link blk">Автобетононасос M36-4</a></div>
                </div>
            </div>
        </div>
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

    </div>


    <!--нижнее меню-->


    <div class="row bot-menu">


        <div class="col-xs-12 col-md-5ths">

            <div class="item-b">
                <div class="caption">Оборудование:</div>
                <ul>
                    <li>―
                        <a rel="nofollow" href="/catalog/betononasosy/">Бетононасосы</a>
                    </li>
                    <li>―
                        <a rel="nofollow" href="/catalog/avtobetononasosy/">Автобетононасосы</a>
                    </li>
                    <li>―
                        <a rel="nofollow" href="/catalog/raspredelitelnye-strely-putzmeister/">Распределительные
                            стрелы</a>
                    </li>
                    <li>―
                        <a rel="nofollow" href="/catalog/rastvoronasosy/">Растворная техника</a>
                    </li>
                    <li>―
                        <a rel="nofollow" href="/catalog/tonelnoe_oborudovanie/">Торкрет оборудование</a>
                    </li>
                    <li>―
                        <a rel="nofollow" href="/catalog/torkretirovanie-ogneupornikh-materialov/">Торкретирование
                            огнеупорных материалов</a>
                    </li>
                    <li>―
                        <a rel="nofollow" href="/catalog/shakhtnoe-i-tonnelnoe-oborudovanie/">Шахтное и тоннельное
                            оборудование</a>
                    </li>
                    <li>―
                        <a rel="nofollow"
                           href="/catalog/betonosmesitelnye_zavody_i_uzly_bsu_betonnorastvornye_uzly_bru/">Бетоносмесительные
                            заводы и узлы (БСУ), бетонно-растворные узлы (БРУ)</a>
                    </li>
                    <li>―
                        <a rel="nofollow" href="/catalog/shlamoviye-nasosy/">Шламовые пульповые насосы и бункеры</a>
                    </li>
                    <li>―
                        <a rel="nofollow" href="/catalog/avtobetonosmesiteli/">Автобетоносмесители</a>
                    </li>
                    <li>―
                        <a rel="nofollow" href="/catalog/teleskopicheskie-lentochnye-transportery/">Телескопические
                            ленточные транспортеры</a>
                    </li>
                    <li>―
                        <a rel="nofollow" href="/catalog/brinkmann_trans_mix/">BRINKMANN Trans Mix</a>
                    </li>
                    <li>―
                        <a rel="nofollow" href="/catalog/puskovaja-smes/">Пусковая смесь </a>
                    </li>
                    <li>―
                        <a rel="nofollow" href="/service/spares/">Заказ запчастей</a>
                    </li>
                </ul>
            </div>


        </div>
        <div class="col-xs-12 col-md-5ths">

            <div class="item-b">
                <div class="caption">О компании:</div>
                <ul>
                    <li>―
                        <a rel="nofollow" href="/about/history/">История Компании</a>
                    </li>
                    <li>―
                        <a rel="nofollow" href="/about/putzmeister/">Putzmeister в России</a>
                    </li>
                    <li>―
                        <a rel="nofollow" href="/contacts/">Контакты</a>
                    </li>
                </ul>
            </div>


        </div>
        <div class="col-xs-12 col-md-5ths">


            <div class="item-b">
                <div class="caption">Сервис:</div>
                <ul>
                    <li>―
                        <a rel="nofollow" href="/service/spares2/">Заказ запчастей</a>
                    </li>
                    <li>―
                        <a rel="nofollow" href="/service/documentation/">Документация</a>
                    </li>
                    <li>―
                        <a rel="nofollow" href="/service/order/">Запрос на технику</a>
                    </li>
                </ul>
            </div>

        </div>
        <div class="col-xs-12 col-md-5ths">

            <div class="item-b">
                <div class="caption"><a rel="nofollow" href="/scopes/">Сферы применения</a></div>
                <div class="caption"><a rel="nofollow" href="/info/">Полезная информация</a></div>
                <div class="caption"><a rel="nofollow" href="/regions/">Регионы</a></div>
                <div class="caption"><a rel="nofollow" href="/news/">Новости</a></div>
                <div class="caption"><a rel="nofollow" href="/pm-finance/">PM Finance</a></div>
            </div>

        </div>
        <div class="col-xs-12 col-md-5ths">

            <div class="journals-b">
                <div class="caption"><a href="/putzmeister-post/">Журнал Putzmeister Post:</a></div>
                <div class="img-b">
                    <a href="/putzmeister-post/"><img src="images/img-2.jpg"></a>
                    <div class="bottom-angle">
                        <a href="http://www.putzmeister.com/deu/putzmeister-post.htm" rel="nofollow"><img
                                src="images/de.png"></a><a href="http://www.putzmeister.com/enu/putzmeister-post.htm"
                                                           rel="nofollow"><img src="images/en.png"></a>
                    </div>
                </div>
            </div>


        </div>
    </div>


    <!--Нижние контакты-->

    <div class="row cont-btm">

        <div class="col-md-6 col-xs-12">


            <div class="info-b map">
                <p><span>ООО "Путцмайстер-Рус"</span></p>
                <p>129343, Россия, Москва, ул. Уржумская, 4, стр. 31</p>
                <a href="/contacts/" class="directions">Схема проезда</a>
            </div>
        </div>


        <div class="col-md-3 col-xs-12">
            <div class="info-b tels"><p><span>Телефон:</span><br/>   8 (800) 707-19-58<br/> +7 (495) 775-22-37</p>
                <p><span>Факс:</span><br/> +7 (495) 775-22-34</p>
                <p><a class="mail" href="mailto:info@putzmeister.ru">info@putzmeister.ru</a></p></div>
        </div>


        <div class="col-md-3 col-xs-12">
            <div class="info-b last"><p><span>График работы:</span></p>
                <p>Офис, по будням с 8:00 до 18:00 Склад и Сервис с 8:00 до 17:00</p></div>
        </div>


    </div>

    <!--Футер-->

    <div class="footer">


        <div class="row">


            <div class="col-md-7 col-xs-12">

                <div class="text-coopy">
                    <p>Данный cайт и размещенная на нём информация являются собственностью компании.</p>
                    <p>При использовании материалов сайта ссылка обязательна.</p>
                    <br>
                    <p>Ваши вопросы, комментарии и замечания Вы можете направить по адресу <a
                            href="mailto:info@putzmeister.ru?subject=%D0%A1%D0%BE%D0%BE%D0%B1%D1%89%D0%B5%D0%BD%D0%B8%D0%B5%20%D1%81%20%D1%81%D0%B0%D0%B9%D1%82%D0%B0">info@putzmeister.ru</a>
                    </p>
                    <br>
                    <p><a rel="nofollow" href="http://www.putzmeister.ru/privacy-policy/">Соглашение об использовании
                        сайта</a></p>
                    <br>
                    <p>Мы в соцсетях:
                        <a href="https://www.facebook.com/putzmeisterrus/" target="_blank">
                            <img src="images/fb.png" alt="Putzmeister в Facebook" align="absmiddle" hspace="5"
                                 style="border-radius:5px"></a>

                        <a href="https://vk.com/putzmeisterrus" target="_blank">
                            <img src="images/vk.png" alt="Putzmeister в ВКонтакте" align="absmiddle" hspace="5"></a>


                        <a href="https://www.youtube.com/channel/UCp61k8xK9avlchWLl2dY2qg" target="_blank">


                            <img src="images/yt.png" alt="Putzmeister на YouTube" align="absmiddle" hspace="5"
                                 style="border-radius:5px"></a></p>
                </div>

            </div>


            <div class="col-xs-12 col-md-5">


                <div class="copyright">
                    © 2003-2018 Putzmeister Concrete Pumps GmbH
                    <span>бетононасосы, автобетоносмесители, штукатурные станции, бетонные заводы и другая
                                    бетонная техника Путцмайстер в Москве
                                </span>
                </div>
                <ul class="list-border">
                    <li><a href="/sitemap/" style="color: #676767;">Карта сайта</a></li>
                    <li>
                        <a href="http://realweb.ru/" target="_blank">Оптимизация и продвижение сайта</a>
                        – RealWeb
                    </li>
                </ul>

            </div>

        </div>


    </div>


</div>


<!-- Наверх-->

<p id="back-top" style="display: block;"><a href="#top"><span></span></a></p>

<!-- Наверх-->

<script
        src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script src="js/script.js" type="text/javascript"></script>
</body>
</html>